@import "../base/_mixins.scss";
@import "../base/_variables.scss";
@import "../base/_colors.scss";

.footer {
   &__top {
      background-color: $back_bg_2;
   }
   &__top-inner {
      display: flex;
   }
   &__top-img {
      position: relative;
      margin-left: calc(-50vw + 50%);
      flex: 1;

      img {
         position: absolute;
         inset: 0;
         width: 100%;
         height: 100%;
         object-fit: cover;
      }
   }
   &__form-wrap {
      flex: 0 1 rem(708);

      padding-top: rem(100);
      padding-bottom: rem(124);
      padding-left: rem(80);
   }
   &__form-header {
      display: grid;
      gap: rem(24);
      margin-bottom: rem(64);
      h3 {
         @extend .h1;
         text-align: left;
      }
      p {
         color: $gray_2;
      }
   }
   .form {
      form {
         .gform_fields {
            display: flex;
            flex-wrap: wrap;
            gap: rem(24);
         }
         .gfield {
            flex: 1 1 calc(50% - rem(12));
            input,
            textarea {
               &:not([type="submit"]) {
                  border-color: $gray_dark;
               }
            }
         }
         .gform_footer {
            margin-top: rem(16);

            input[type="submit"] {
               clip-path: polygon(
                  100% 0%,
                  92.755% 22.321%,
                  72.251% 0%,
                  58.568% 14.437%,
                  31.449% 0%,
                  17.357% 22.321%,
                  9.999% 0%,
                  0% 10.428%,
                  0% 100%,
                  100% 100%,
                  100% 0%
               );
            }
         }
      }
   }
   &__main {
      background-color: $green;
   }
   &__main-inner {
      display: flex;
      gap: rem(160);
      padding-block: rem(100);
   }
   &__content {
      flex: 0 1 rem(420);
   }
   &__logo {
      display: block;
      margin-bottom: rem(84);
      img {
         width: rem(102);
      }
   }
   &__info {
      display: grid;
      gap: rem(16);
      p {
         font-size: rem(16);
         letter-spacing: 0.02em;
         color: $orange;
      }
      span {
         @extend .p2;
         color: $gray_3;
      }
   }
   &__navs {
      display: flex;
      justify-content: space-between;
      gap: rem(102);
   }
   &__nav {
      padding-left: rem(80);
      border-left: rem(1) solid $white;
      display: flex;
      flex-direction: column;
      gap: rem(32);
      p {
         @extend .p2;
         color: $orange;
      }
      nav {
         ul {
            display: flex;
            flex-direction: column;
            gap: rem(16);
            a {
               display: flex;

               font-family: $primary_font;
               font-size: rem(16);
               font-weight: 400;
               letter-spacing: 0.02em;
               color: $white;
               text-transform: uppercase;
               transition: $transition-all-linear;

               letter-spacing: rem(2);

               @media (any-hover: hover) {
                  &:hover {
                     color: $orange;
                  }
               }
            }
         }
      }
   }
   &__bottom {
      background-color: $green;
      isolation: isolate;
      position: relative;

      &::before {
         content: "";
         position: absolute;
         z-index: -1;
         inset: 0;
         width: 100%;
         height: 100%;
         background-color: $black_bg;
         opacity: 0.3;
      }
   }
   &__bottom-inner {
      display: flex;
      justify-content: space-between;
      align-items: center;

      padding-block: rem(38);
      p {
         @extend .p2;
         color: $gray_4;
      }
   }
   &__social {
      display: flex;
      align-items: center;
      gap: rem(24);
      a {
         display: flex;
         flex: 0 0 rem(24);
         img {
            object-fit: contain;
            transition: $transition-all-linear;
            will-change: transform;
            min-width: rem(11);
         }

         @media (any-hover: hover) {
            &:hover {
               img {
                  transform: scale(1.1);
               }
            }
         }
      }
   }
}
