$white: #ffffff;
$white_bg: #cdd2cd;
$white_2: #ffffffb3;
$orange: #f38701;
$orange_dark: #c77700;
$green: #354a2f;
$green_light: #cdd2cd;
$green_light_2: #ccd1cc4d;
$green_light_3: #3e5239;
$black: #000000;
$black_2: #22282b;
$black_3: #3f3f3f;
$black_4: #1e1c23cc;
$black_bg: #1e1c23;
$back_bg_2: #25232a;
$black_bg_3: #1d1b22b3;

$gray: #757575;
$gray_2: #ffffffcc;
$gray_3: #eaeaea;
$gray_4: #ffffff99;
$gray_5: #cdd2cd33;
$gray_6: #6f6d72;
$gray_7: #f5f5f533;
$gray_light: #eaeaea;
$gray_dark: #3f3f3f;
$gray_bg: #cdd2cd4d;
$gray_bg_2: #e6e9e6;
$circle_bg: #f0f2f0;
$circle_border: #bdc7bb;
