$white: #ffffff;
$white_bg: #cdd2cd;
$orange: #f38701;
$orange_dark: #c77700;
$green: #354a2f;
$green_light: #cdd2cd;
$green_light_2: #ccd1cc4d;
$green_light_3: #3e5239;
$black: #000000;
$black_2: #22282b;
$black_bg: #1e1c23;
$back_bg_2: #25232a;
$black_bg_3: hsla(257, 11%, 12%, 0.7);
$gray: #757575;
$gray_2: #ffffffcc;
$gray_3: #eaeaea;
$gray_4: #ffffff99;
$gray_5: #cdd2cd33;
$gray_6: #6f6d72;
$gray_light: #eaeaea;
$gray_dark: #3f3f3f;
