@import "./_mixins.scss";
@import "./_variables.scss";
@import "./_colors.scss";

html {
	scroll-behavior: smooth;
	font-size: vw(16);
	
	@include media-breakpoint-down(md) {
		font-size: vwm(16);
	}
}

html,
body {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

body {
	margin: 0;
	padding: 0;
	font-family: 'HelveticaNeue', sans-serif;
	font-size: 1rem;
	font-weight: 400;
	min-width: rem(320);
	overflow-x: hidden;
	background-color: transparent;
}

* {
	font-family: 'Gilroy', sans-serif;
}

*,
*:before,
*:after {
	box-sizing: border-box;
}

/*.admin-bar {
	.header {
		margin-top: 32px;
		
		@include media-breakpoint-down(xxl) {
			margin-top: 46px;
		}
	}
}*/

.menu-open {
	overflow: hidden;
}

main {
	position: relative;
	background: #FCFAF7;
	flex: 1;
}

img {
	display: block;
	max-width: 100%;
	height: auto;
}

a {
	text-decoration: none;
}

.container {
	max-width: rem(1260);
	width: 100%;
	margin: 0 auto;
	
	@include media-breakpoint-down(md) {
		padding: 0 rem(26);
	}
}

.section-title {
	position: relative;
	width: fit-content;
	font-family: 'Raleway', sans-serif;
	font-style: normal;
	font-weight: 700;
	font-size: rem(40);
	text-align: center;
	color: #6B8FF7;
	
	@include media-breakpoint-down(md) {
		font-size: rem(20);
	}
}

.no-scroll {
	overflow: hidden;
}

.no-scroll-menu {
	overflow: hidden;
}

.popup-contact {
	display: flex;
	justify-content: center;
	align-items: center;
	position: fixed;
	width: 100vw;
	height: 100vh;
	left: -100vw;
	top: 0;
	background: $black;
	transition: $transition-all-easy-in-out;
	z-index: 1000;
	
	&.active {
		left: 0;
	}
	
	&:before {
		content: '';
		position: absolute;
		bottom: 0;
		inset-inline-end: 0;
		width: rem(600);
		height: rem(1000);
		background-image: url('data:image/svg+xml,<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="100%" viewBox="0 0 288 480" enable-background="new 0 0 288 480" xml:space="preserve"><path fill="%23ffffff" opacity="1.000000" stroke="none" d="M81.960724,172.254913 C82.908363,167.258698 83.953812,162.711517 84.539261,158.105865 C85.674759,149.173019 90.565369,143.335114 98.490494,139.407425 C103.608063,136.871155 109.147026,134.511246 111.532593,127.878403 C106.142952,128.154373 108.601685,123.169762 106.601349,121.247894 C104.102554,118.847145 104.122528,118.074287 108.584671,113.377563 C108.642128,111.886467 105.394768,111.360146 107.032440,109.434189 C111.380508,104.320747 109.504692,98.264496 109.575127,92.602089 C109.764977,77.338936 124.571640,68.045578 138.667953,74.533112 C143.535385,76.773239 145.608154,81.021416 147.005447,85.772362 C148.856094,92.064743 147.211563,99.025261 151.026001,105.139091 C151.626938,106.102264 151.082458,109.982025 150.937653,112.443192 C150.779160,115.136665 151.626999,116.773674 152.982529,118.657188 C153.851013,119.863907 154.855240,121.187889 155.111176,122.585213 C156.641541,130.940659 161.775482,132.550171 169.551056,131.851273 C178.618744,131.036224 187.903381,132.401566 196.635941,128.717392 C198.779572,127.813004 200.904221,126.840210 202.953079,125.741280 C204.893478,124.700500 206.490646,122.373222 205.420181,120.833687 C202.339142,116.402550 205.677994,115.438843 208.429962,113.972122 C209.953217,113.160271 211.281906,112.081726 211.949326,110.537086 C215.166168,103.092308 220.068787,96.355980 221.132233,87.992981 C221.549759,84.709496 222.618378,81.569122 224.815292,78.845253 C228.500046,74.276703 233.173264,73.362534 237.397217,76.666237 C240.795395,79.324089 241.533478,87.019142 237.500946,89.632141 C232.998138,92.549843 232.511627,96.588715 231.328323,100.771416 C230.881561,102.350578 230.221451,103.869377 229.485672,105.890785 C235.672318,105.339394 241.317291,102.453278 248.406036,104.464996 C242.800735,108.857666 246.169830,112.973106 247.632523,117.111107 C251.572144,128.256424 255.593781,139.372833 259.510284,150.526184 C261.234680,155.436890 260.404541,156.974731 255.259903,158.516281 C246.942810,161.008423 238.507126,160.272537 229.990585,158.889175 C231.460800,165.393082 231.018097,166.342422 224.513641,167.684128 C216.785461,169.278259 208.992477,169.290527 201.300430,167.228638 C197.510651,166.212753 195.577972,164.644913 197.702896,160.089523 C199.710587,155.785446 200.699097,150.968918 201.039795,146.214279 C199.563065,144.773422 198.113251,145.454391 196.715622,145.858795 C190.002777,147.801117 183.314514,149.830231 176.585907,151.715668 C167.805176,154.176147 162.846527,160.758316 160.522125,168.717346 C156.920441,181.049927 155.990463,193.895905 156.286652,206.767548 C156.316299,208.056244 156.544693,209.537445 157.218109,210.583405 C163.149826,219.796448 164.795410,230.149002 166.536423,240.758698 C170.438980,264.540833 172.495941,288.560486 176.467255,312.307892 C177.233688,316.891052 176.349426,320.024017 173.847794,323.624390 C166.261566,334.542603 164.293854,347.300476 163.443527,360.114746 C162.772232,370.231049 163.127716,380.426971 163.296738,390.583038 C163.391373,396.269287 162.847214,401.883240 162.278671,407.506989 C161.969681,410.563354 163.213882,411.565735 166.223679,411.700684 C176.736130,412.171967 176.857590,412.262756 177.175934,422.458771 C177.280090,425.794739 178.589401,426.821198 181.710114,426.713165 C189.734711,426.435394 189.325470,426.517975 189.311493,434.354553 C189.294220,444.035767 190.089432,443.218750 180.394196,443.224304 C146.229401,443.243927 112.064590,443.233704 77.899788,443.234558 C70.682503,443.234711 70.682220,443.234222 70.660103,436.155273 C70.657501,435.321991 70.658165,434.488678 70.660545,433.655396 C70.680016,426.838654 70.686493,426.597656 77.405968,426.771912 C81.704323,426.883362 82.771294,425.139832 82.748878,421.165161 C82.689316,410.601898 81.253960,411.812805 92.394127,411.629700 C95.178543,411.583923 98.020584,412.096497 100.781792,411.166656 C101.494904,408.854614 99.686226,407.625397 98.633163,406.368835 C91.408974,397.748352 90.479729,386.828796 87.872253,376.627991 C80.088356,346.176239 72.760773,315.607971 65.203964,285.097870 C64.037018,280.386444 61.264778,279.503479 56.205902,282.106354 C55.037468,282.707581 54.121155,283.795380 52.956799,284.408600 C50.198673,285.861237 47.431740,285.858185 45.178562,283.483917 C43.248348,281.450012 43.152405,278.919250 44.411606,276.523407 C45.876465,273.736298 48.576672,272.965637 51.263325,273.988708 C53.906761,274.995331 56.398788,275.184662 59.030590,274.536957 C61.233093,273.994934 62.306614,272.712708 60.888744,270.544708 C56.799965,264.292694 55.463387,257.793182 58.461746,250.645416 C59.241425,248.786758 58.116783,247.009003 56.842781,245.652695 C54.427853,243.081772 53.227295,240.303680 55.461643,237.155533 C57.751507,233.929214 60.834896,234.450409 63.957123,235.886459 C64.222450,236.008484 64.592606,235.902603 65.382500,235.902603 C65.957077,231.872849 66.515610,227.812485 67.118073,223.758667 C68.604301,213.758194 73.521851,204.896790 76.714676,195.466476 C79.246124,187.989578 81.050934,180.480560 81.960724,172.254913 M135.659042,179.590820 C135.491150,179.409561 135.311707,179.240555 134.899536,178.325211 C134.410309,176.375153 134.243683,174.444565 134.480804,172.400757 C134.880295,168.957687 135.832794,165.969193 139.855164,165.802292 C143.643524,165.645065 147.435669,165.722610 151.283035,164.693863 C152.553116,166.753540 152.798050,168.896652 151.754166,170.577591 C148.778885,175.368591 152.353989,177.715256 155.425140,181.545166 C156.228088,171.092361 160.989212,162.333954 158.871017,152.280655 C157.660156,146.533798 161.272095,142.787262 166.684494,141.933487 C167.252609,149.086395 167.254440,149.093063 174.505905,147.095581 C182.536758,144.883423 190.464645,142.351959 198.203781,139.262421 C199.880844,138.592926 201.471436,137.833801 203.198776,139.784302 C204.223541,135.481476 205.098785,131.806442 206.039917,127.854729 C205.136169,128.033066 204.657700,128.059372 204.230865,128.221512 C184.728882,135.629745 165.283417,139.376999 146.011520,127.491318 C145.352051,127.084595 144.411087,127.082901 143.590408,126.997917 C140.184875,126.645279 138.825607,124.619545 138.361542,121.374016 C138.144516,119.856239 139.109604,118.038940 137.342468,116.510101 C132.657822,120.413170 132.712112,126.874420 129.185852,131.845123 C126.914001,129.336700 126.374641,126.548996 125.874611,123.845963 C125.396263,121.260117 125.962502,118.435982 124.184235,116.166702 C122.386139,113.872131 122.220955,111.506371 124.140465,109.375366 C126.029114,107.278633 128.602524,107.347412 131.101364,108.171623 C132.356903,108.585739 133.524307,109.273590 134.719955,109.861298 C136.644348,110.807228 138.537994,110.173462 138.496124,108.249252 C138.409012,104.245026 141.010864,101.233444 141.605270,97.583748 C143.291290,97.485924 144.273224,99.728302 146.328812,98.776657 C145.792496,90.756699 140.044922,85.484909 136.008347,79.371834 C135.047760,77.917122 133.169754,77.517075 131.106186,77.573517 C122.976448,77.795891 119.721283,80.068398 117.003944,88.011375 C117.003944,88.011375 117.034775,87.981026 116.501312,88.376709 C113.716255,93.114342 114.641640,98.770126 112.363068,103.633095 C117.352791,91.941788 120.635986,89.721336 129.807632,92.267426 C131.467499,90.694397 129.521347,86.163521 133.861328,86.777214 C137.304321,87.264076 141.216446,87.264709 142.758133,92.043991 C139.192245,92.387192 136.725143,89.355148 133.372498,90.021576 C134.527740,91.492340 136.997314,91.223976 137.601913,93.430756 C136.398911,94.145782 134.772629,94.575150 134.068481,95.623734 C130.992645,100.204201 126.357841,97.862267 124.333214,96.176445 C120.876457,93.298141 119.640991,95.218330 118.139557,97.337326 C114.828148,102.010750 115.752274,106.421822 121.026764,112.276779 C114.817101,116.333611 121.972595,119.389862 121.812141,123.333885 C120.194756,123.854210 118.918732,124.875610 118.365311,126.797951 C117.615631,129.401978 116.070427,131.652618 114.090149,133.456924 C112.033989,135.330353 111.293190,137.306458 111.939407,140.088547 C112.382988,141.998260 112.364754,144.088791 112.166977,146.059769 C111.634148,151.369568 113.556366,154.780151 118.610825,157.084473 C123.909561,159.500153 127.634735,163.601807 127.806190,171.065613 C122.764580,167.298447 119.553078,162.584381 114.588867,160.240295 C110.028084,158.086716 108.603806,154.425537 108.648575,149.676666 C108.685287,145.782532 109.237511,141.817261 108.212029,137.760345 C96.073624,142.277100 87.560371,148.697800 86.019279,162.727646 C84.761620,174.177200 83.196808,185.720276 79.018250,196.811508 C74.999199,207.479324 69.622322,217.853790 68.848808,229.567184 C68.312759,237.684586 66.273628,245.141052 61.163044,251.801910 C58.925129,254.718689 58.228065,258.699127 60.535748,262.893341 C65.188995,260.017822 70.038933,257.446228 70.508690,251.788040 C71.024002,245.581192 72.888489,240.192322 76.304619,235.067596 C79.907066,229.663376 83.603325,224.061310 84.533669,217.549561 C86.897820,201.002274 91.439514,185.072067 97.094444,169.413254 C97.627838,167.936249 97.616135,166.034348 99.793587,165.164749 C100.763054,169.649536 102.882477,173.792465 101.852890,178.993240 C104.664124,176.502930 104.090118,172.401184 107.578926,171.066956 C110.464233,173.027512 111.234909,176.205780 112.306374,179.108047 C115.727684,188.375320 117.529709,198.632538 128.095291,203.487793 C118.365143,203.581604 113.133789,197.130447 107.899490,189.906250 C109.468544,204.923431 114.230484,218.444763 118.800316,232.098495 C114.452499,228.765427 112.150436,224.213531 109.572639,219.811905 C107.020462,215.454010 106.840004,210.343063 104.572456,205.950333 C104.275223,220.625992 111.713425,232.204269 120.299332,243.410599 C110.900749,241.377914 107.027557,233.866150 102.793884,226.849503 C98.228683,230.356232 96.931023,234.432999 99.002831,238.238449 C101.537537,242.894135 104.952820,246.617294 110.054993,248.596634 C117.499069,251.484451 123.923210,248.657745 130.342499,244.992813 C128.344452,249.354156 125.135277,252.226379 120.980125,253.988083 C113.845688,257.012970 107.827538,253.901993 101.645126,249.520706 C100.686920,260.689026 101.012779,271.121796 101.313263,281.639099 C98.189880,276.929993 98.149460,271.351807 96.411148,266.248474 C97.317291,278.016602 92.450714,289.312683 93.488037,302.076843 C111.355049,278.959198 128.609039,256.634705 145.863037,234.310226 C146.305664,234.604019 146.748306,234.897797 147.190933,235.191589 C147.111908,241.433655 145.103317,247.080658 141.655197,252.328018 C138.248993,257.511658 133.900604,261.898773 129.792175,266.479340 C121.757973,275.436920 116.395622,286.448090 108.034111,295.084015 C101.928665,301.389801 99.451408,308.740295 99.301964,317.213043 C99.285820,318.128601 99.638786,319.252411 98.262642,319.960297 C95.723572,318.930359 95.518715,315.402283 92.823196,313.928741 C93.639908,333.437927 91.020164,352.872711 99.555717,371.035706 C103.178261,359.809601 108.443535,349.398560 114.839821,339.639069 C119.634453,332.323395 123.511017,324.984009 124.231422,315.991180 C125.220596,303.643341 131.108704,292.812775 136.423782,281.302246 C136.908218,280.344543 137.392639,279.386841 138.394791,277.917328 C142.118408,272.421387 143.995316,265.488098 150.591721,262.117981 C145.136322,275.314148 138.989029,288.109528 133.586655,302.231323 C135.997787,299.736725 136.504700,296.734131 139.970047,295.960693 C138.446091,302.099426 134.999802,306.869293 132.730545,312.476959 C136.429504,313.392609 134.889679,315.644928 134.014618,317.665009 C125.555290,337.193420 117.270096,356.801178 108.489540,376.184448 C105.203438,383.438599 102.608582,390.387238 106.228806,398.537323 C110.704704,386.378082 115.032860,374.361938 119.554680,362.419128 C123.077126,353.115845 125.667038,343.377930 132.170731,334.659637 C133.173523,333.410004 134.176300,332.160339 135.838562,330.699219 C138.325058,329.747742 140.365097,326.476837 143.444443,328.563141 C146.716019,330.779663 144.924255,333.997284 144.277420,336.803162 C140.652405,352.528015 137.815842,368.373505 135.938568,384.416321 C135.465485,388.459381 136.271255,392.936523 133.720901,397.518219 C129.371262,391.623169 131.229279,385.035278 129.000931,379.156433 C122.901337,389.685150 113.999115,398.311005 112.500023,411.607697 C121.196701,411.607697 129.480667,411.662048 137.763229,411.578186 C140.656647,411.548889 140.785446,409.668915 140.206421,407.374908 C138.177353,399.336090 139.447205,391.516266 142.076599,383.858368 C144.616623,376.460815 148.135803,369.299927 149.796417,361.722076 C152.650665,348.697266 159.147659,335.512665 150.287842,321.829254 C157.153763,319.976593 156.766983,314.064209 157.593094,308.990173 C158.820847,301.449158 159.705551,293.851105 160.666321,286.268463 C160.983688,283.763855 162.045853,285.420410 163.525375,286.027466 C162.547256,263.850708 167.676880,241.577087 159.268387,219.576065 C155.947922,222.196243 154.678940,225.931229 150.831696,226.533310 C149.984909,220.943604 159.104797,218.508392 154.946060,211.798172 C151.070709,215.266754 148.615005,219.754776 143.749115,221.764359 C143.418213,220.168427 144.166275,219.455582 144.708740,218.654968 C147.417877,214.656723 150.367447,210.794708 152.754089,206.611832 C155.387436,201.996552 153.702744,199.356094 148.582443,199.339310 C144.249954,199.325119 139.912537,199.423706 135.586273,199.249649 C130.251266,199.035004 126.065216,196.987289 123.519852,191.858017 C119.309227,183.373016 115.617424,174.587875 109.909012,166.909088 C109.720131,166.654984 110.027214,166.032181 110.163155,165.224533 C113.250595,166.073547 115.150200,168.115997 116.864914,170.335129 C119.818306,174.157318 123.090797,177.807922 125.515663,181.948517 C131.231201,191.708115 141.039810,193.039413 150.666977,194.951263 C152.729828,195.360901 153.582932,194.430084 154.169266,192.467300 C155.710129,187.309128 152.592804,184.077881 149.736877,180.152298 C148.879074,183.196228 151.553253,185.780518 149.258591,188.592041 C143.638138,187.639191 140.958969,181.822617 135.659042,179.590820 M96.539703,228.385330 C98.031929,223.105057 99.361198,217.771988 101.050941,212.555710 C104.381393,202.274506 101.800232,192.421478 99.539314,182.212967 C97.847862,183.451157 97.693207,184.985092 97.350174,186.393280 C95.498093,193.996384 93.828415,201.655762 89.142021,208.204437 C88.591125,208.974258 88.243896,210.049438 88.203362,211.000168 C87.789948,220.694916 84.016098,229.207626 78.330109,236.741791 C70.617607,246.961151 74.419556,258.755280 72.006927,270.071747 C76.670441,270.064423 80.140366,269.718536 83.201218,267.215515 C85.582939,265.267853 88.201759,265.632874 90.540108,267.489807 C92.896324,269.360931 92.680374,271.988403 91.846275,274.361023 C90.827454,277.259094 88.233490,278.346008 85.388840,277.818451 C82.883797,277.353882 80.462708,277.093628 77.978134,277.594788 C75.333618,278.128204 73.899094,279.173798 74.799370,282.401276 C79.971870,300.944702 84.971306,319.536377 90.029434,338.111694 C90.609276,337.074066 90.603035,336.127533 90.610214,335.181091 C90.718811,320.858673 90.245796,306.500763 91.115311,292.224609 C91.872574,279.791595 94.109695,267.430206 93.601997,254.919174 C93.247551,246.184860 95.919090,237.839722 96.539703,228.385330 M66.666084,280.949890 C75.897987,318.004913 85.136131,355.058380 94.353691,392.116974 C95.472511,396.615112 97.227348,400.679535 101.879326,404.291321 C90.502708,357.938782 75.805672,313.583008 65.495697,268.039093 C64.733398,270.804962 68.573051,274.764862 63.456226,275.995483 C59.446129,276.959961 55.359673,279.321503 50.983658,276.605042 C49.455994,275.656708 47.685394,276.273071 46.752281,278.040558 C46.081654,279.310852 46.053616,280.665710 47.165573,281.721344 C48.565403,283.050262 50.198727,282.965363 51.748322,282.010773 C52.436821,281.586609 52.884846,280.785431 53.553871,280.314117 C56.960190,277.914642 64.476440,277.848785 66.666084,280.949890 M232.483353,113.186394 C226.778091,114.022911 223.760330,117.407440 222.934937,123.032372 C222.720840,124.491318 222.238281,125.993942 221.528702,127.283752 C216.565445,136.305328 221.959717,143.258453 226.103180,151.827682 C230.935852,137.612534 235.365265,124.583603 240.175064,110.435753 C236.901215,111.599319 235.042252,112.260017 232.483353,113.186394 M165.255325,335.406677 C163.883789,328.676605 163.883789,328.676605 160.877869,329.077332 C156.215332,356.304199 160.423141,383.911743 154.428665,411.056000 C157.413528,411.888275 159.205948,411.837799 159.668716,408.409027 C160.763107,400.300354 161.039047,392.151520 160.558273,384.026184 C159.598602,367.808319 160.691040,351.836121 165.255325,335.406677 M151.161957,375.549896 C148.990921,386.287445 144.459793,396.387146 142.601227,407.207062 C142.257004,409.210999 141.852875,411.717865 144.911774,411.483337 C147.625488,411.275299 151.908539,413.750763 152.631134,408.754639 C154.450531,396.174896 154.021255,383.577148 151.770874,370.979279 C151.599731,372.249329 151.428589,373.519409 151.161957,375.549896 M241.654190,122.805222 C241.654190,120.884392 241.654190,118.963570 241.654190,117.042740 C241.374313,117.000679 241.094437,116.958618 240.814560,116.916557 C237.058777,127.890358 233.302994,138.864151 229.555176,149.814713 C232.323212,151.218445 234.339096,149.520920 236.431946,149.741714 C240.711777,150.193298 241.832092,148.041168 241.708832,144.123276 C241.495087,137.328918 241.652161,130.522873 241.654190,122.805222 M252.884735,139.502380 C250.188980,132.012314 247.493225,124.522240 244.797470,117.032166 C244.249893,126.437286 244.228821,135.706360 244.268600,144.975159 C244.276077,146.717590 243.764175,149.005508 246.234024,149.466904 C249.516815,150.080154 252.876495,150.281876 256.783051,150.726395 C255.423950,146.767578 254.300842,143.496170 252.884735,139.502380 M211.019104,157.697479 C215.746201,158.117035 220.473297,158.536575 226.031799,159.029922 C222.743423,151.961426 220.520493,145.301346 216.804260,139.229156 C213.781784,140.586456 210.375671,140.953979 209.838913,144.200195 C209.123138,148.528854 208.430542,153.011398 211.019104,157.697479 M220.797272,117.153366 C217.666092,117.171570 214.780396,118.073631 211.792816,119.344055 C213.107910,123.507553 214.417480,127.309830 217.416458,131.061249 C219.194534,126.309402 220.797592,122.107643 220.797272,117.153366 M233.879593,85.094406 C237.982773,86.723785 237.718552,83.422142 237.290833,81.482384 C236.596512,78.333488 233.902451,77.046127 230.812393,77.572884 C227.909546,78.067719 226.671967,80.114632 227.387436,83.044418 C228.287155,86.728622 230.903122,85.580643 233.879593,85.094406 M205.184830,144.260773 C203.025879,148.847717 202.329193,153.760529 201.201859,159.257416 C203.716400,158.757217 206.187256,159.124069 206.322433,156.873245 C206.577209,152.631393 208.085678,148.243942 205.184830,144.260773 M219.562027,100.976456 C218.226822,103.907707 216.032654,106.513618 215.863220,110.034691 C223.678726,108.906960 224.088928,107.884995 222.452484,94.651382 C221.672791,96.394356 220.794266,98.358269 219.562027,100.976456 M210.303360,135.689789 C210.464844,136.744904 209.863007,138.060242 211.295547,138.686295 C216.513702,136.012482 216.374527,132.964218 210.314331,126.072166 C210.314331,129.353455 210.314331,132.130035 210.303360,135.689789 M225.995148,95.223053 C225.995148,98.207825 225.995148,101.192604 225.995148,104.177376 C228.995056,100.913948 229.707779,97.278717 230.616302,93.381065 C229.512329,93.664337 228.775177,93.888840 228.022919,94.036179 C227.321274,94.173607 226.361115,93.381073 225.995148,95.223053 M59.618675,237.646210 C56.537380,240.551392 56.851044,241.141922 62.548588,243.145386 C63.756245,240.493942 63.653172,238.400543 59.618675,237.646210 M145.885529,119.002014 C143.369583,117.034569 142.984467,118.579269 143.471375,120.647369 C144.086472,123.260010 146.438126,124.077721 149.296234,125.884819 C147.970230,123.039116 147.140167,121.257706 145.885529,119.002014 M165.354874,320.912415 C167.639587,322.064728 169.634583,322.098450 170.951889,319.375732 C167.248428,323.575989 162.604843,314.841217 158.927917,320.488983 C160.933319,319.882965 162.841995,319.541321 165.354874,320.912415 z"/><path fill="%23000000" opacity="1.000000" stroke="none" d="M136.273834,281.532135 C132.675308,286.239777 129.104919,290.630371 125.819138,295.224579 C123.462555,298.519531 122.292526,302.306519 122.054070,306.432434 C121.169609,321.736176 113.337326,334.095093 104.947998,346.190948 C104.804634,346.397675 104.360352,346.395660 104.049034,346.493378 C102.770958,346.048401 102.867264,344.907623 103.017227,343.995575 C104.024033,337.871918 103.491234,331.700195 103.708588,325.553558 C103.949493,318.740906 105.647339,316.544769 112.260574,314.649628 C115.423645,313.743195 116.607964,312.007019 114.548943,309.216064 C110.047562,303.114502 111.472595,297.522125 115.256607,291.704163 C118.897224,286.106628 122.833008,280.744354 126.994148,275.548462 C133.246582,267.741211 139.329559,259.843323 144.075073,250.980972 C144.996979,249.259308 145.688828,246.980133 149.934143,246.037689 C143.557190,256.550659 140.773926,267.052185 137.950073,277.996765 C137.392639,279.386841 136.908218,280.344543 136.273834,281.532135 z"/><path fill="%23000000" opacity="1.000000" stroke="none" d="M131.945801,334.929688 C129.797684,333.152863 130.649185,330.827972 131.148834,328.599915 C132.320679,323.374359 134.445999,318.471832 136.815826,313.718964 C143.810898,299.689667 149.052933,284.981873 154.091980,270.183655 C154.823486,268.035492 155.418655,265.761475 157.827637,264.307037 C156.391449,282.053864 150.121384,298.549927 143.883652,315.065704 C147.119247,316.465912 149.758255,313.494812 153.002396,315.260010 C148.610123,322.092346 140.918564,324.968262 135.363464,330.655457 C134.176300,332.160339 133.173523,333.410004 131.945801,334.929688 z"/><path fill="%23000000" opacity="1.000000" stroke="none" d="M135.779694,179.731186 C139.735550,185.271515 145.934113,188.194702 150.766586,193.335678 C141.378799,193.372253 127.687126,182.845215 126.206490,174.604477 C129.618851,175.028152 131.575424,177.926651 134.781128,178.964767 C135.311707,179.240555 135.491150,179.409561 135.779694,179.731186 z"/><path fill="%23000000" opacity="1.000000" stroke="none" d="M136.317078,152.410339 C130.775650,151.684982 125.573692,152.590866 120.485451,151.387955 C118.679039,150.960892 116.870758,150.736649 116.088806,148.726471 C116.628113,146.945724 117.912476,147.041290 119.290237,147.349991 C124.838120,148.593002 130.481049,148.536407 136.121719,148.827209 C143.162140,149.190140 149.386108,151.743576 153.935287,157.195572 C153.750580,157.613205 153.565857,158.030823 153.381134,158.448441 C147.837372,156.453369 142.293594,154.458313 136.317078,152.410339 z"/><path fill="%23000000" opacity="1.000000" stroke="none" d="M149.028076,207.028900 C142.730438,212.807617 136.663132,218.318039 130.668182,223.762756 C133.202362,218.946487 137.877472,215.443298 141.472183,210.692139 C139.720734,208.931290 135.939865,209.596954 135.714310,205.318924 C141.403778,204.974426 147.008591,203.665985 152.465836,200.085693 C152.674530,203.683777 150.567032,205.017548 149.028076,207.028900 z"/><path fill="%23000000" opacity="1.000000" stroke="none" d="M135.765533,160.709656 C133.055969,161.836121 132.153320,165.023911 129.160522,165.347473 C129.318420,158.486664 135.640442,154.446335 141.041748,157.599152 C140.003098,159.643036 137.657333,159.463638 135.765533,160.709656 z"/><path fill="%23000000" opacity="1.000000" stroke="none" d="M150.790451,145.843155 C155.969101,149.650711 156.830292,150.943237 157.915588,156.972504 C155.574158,154.243256 153.936386,152.138397 152.090546,150.235352 C150.073196,148.155472 147.237595,147.530594 144.077393,146.768692 C146.223602,143.812271 148.381653,145.106186 150.790451,145.843155 z"/><path fill="%23000000" opacity="1.000000" stroke="none" d="M122.328308,140.448456 C119.778000,138.569183 115.521858,140.276855 114.484779,136.093430 C119.584656,134.934296 123.705574,136.900620 126.180176,141.489487 C124.687508,142.420624 123.792671,141.000427 122.328308,140.448456 z"/><path fill="%23000000" opacity="1.000000" stroke="none" d="M129.575623,98.730186 C131.137497,99.308800 132.299133,99.879990 132.779831,101.196777 C129.120346,105.272636 128.544525,105.308983 124.308929,101.663834 C125.233826,99.510147 126.860611,98.525124 129.575623,98.730186 z"/><path fill="%23000000" opacity="1.000000" stroke="none" d="M143.570343,133.902206 C146.100662,134.736633 145.083969,135.998810 144.015396,136.723602 C141.767319,138.248428 139.333221,139.499008 136.692917,140.427292 C137.571320,136.785416 140.367676,135.322220 143.570343,133.902206 z"/><path fill="%23000000" opacity="1.000000" stroke="none" d="M116.992310,88.029694 C118.693565,86.605843 119.999260,84.464790 122.727501,84.647949 C121.495529,87.599915 120.159760,89.221008 116.534660,92.190346 C115.130234,90.876953 116.576073,89.796150 116.928619,88.302574 C117.034775,87.981026 117.003944,88.011375 116.992310,88.029694 z"/></svg>');
		background-size: contain;
		background-position: center;
		background-repeat: no-repeat;
		
		@include media-breakpoint-down(md) {
			content: none;
		}
	}
	
	.btn-close-contact-popup {
		position: absolute;
		top: rem(50);
		inset-inline-end: rem(50);
		font-size: rem(50);
		color: $white;
		
		@include media-breakpoint-down(md) {
			font-size: rem(30);
		}
	}
	
	.popup-contact-wrapper {
		display: flex;
		flex-direction: column;
		gap: rem(30);
		padding: rem(30);
		border: solid rem(2) $white;
		color: $white;
		
		h3 {
			font-size: rem(40);
		}
		
		.wpcf7 {
			
			.screen-reader-response {
				display: none !important;
			}
			
			.wpcf7-form {
				display: flex;
				flex-direction: column;
				gap: rem(20);
				width: 30vw;
				
				.wpcf7-form-control-wrap {
					display: flex;
					flex-direction: column;
					gap: rem(15);
					
					.wpcf7-form-control {
						padding: rem(20);
						font-size: rem(20);
					}
					
					.wpcf7-not-valid-tip {
						font-size: rem(20);
					}
					
					textarea {
						max-width: 100%;
						max-height: rem(100);
					}
				}
				
				.btn {
					align-self: center;
				}
				
				.wpcf7-response-output {
					font-size: rem(20);
				}
			}
		}
		
		@include media-breakpoint-down(md) {
			gap: rem(20);
			padding: rem(20);
			
			h3 {
				font-size: rem(25);
			}
			
			.wpcf7 {
				
				.screen-reader-response {
					display: none !important;
				}
				
				.wpcf7-form {
					display: flex;
					flex-direction: column;
					gap: rem(20);
					width: 80vw;
					
					.wpcf7-form-control-wrap {
						display: flex;
						flex-direction: column;
						gap: rem(15);
						
						.wpcf7-form-control {
							padding: rem(20);
							font-size: rem(20);
						}
						
						.wpcf7-not-valid-tip {
							font-size: rem(20);
						}
						
						textarea {
							max-width: 100%;
							max-height: rem(100);
						}
					}
					
					.btn {
						align-self: center;
					}
					
					.wpcf7-response-output {
						font-size: rem(20);
					}
				}
			}
		}
	}
}

.bg-loadingoverlay {
	background-color: $white;
	z-index: 500;
}