@import "./_mixins.scss";
@import "./_variables.scss";
@import "./_colors.scss";

@include font-face("Inter", "../fonts/Inter/Inter-Medium", 500, normal);

h1 {
	font-size: rem(42);
	margin: 0;
	font-weight: 800;
	line-height: 1.2;
	
	@include media-breakpoint-down(md) {
		font-size: rem(34);
	}
}

h2 {
	font-size: rem(42);
	margin: 0;
	font-weight: 800;
	line-height: 1;
	
	@include media-breakpoint-down(md) {
		font-size: rem(34);
	}
}

h3 {
	font-size: rem(26);
	margin: 0;
	font-weight: 800;
	line-height: 1.5;
	
	@include media-breakpoint-down(md) {
		font-size: rem(22);
	}
}

h4 {
	font-size: rem(18);
	margin: 0;
	font-weight: 800;
	line-height: 1.5;
	
	@include media-breakpoint-down(md) {
		font-size: rem(16);
	}
}

h5 {
	font-size: rem(16);
	margin: 0;
	font-weight: 800;
	line-height: 1.5;
	
	@include media-breakpoint-down(md) {
		font-size: rem(14);
	}
}

h6 {
	font-size: rem(14);
	margin: 0;
	font-weight: 800;
	line-height: 1.5;
}

p {
	font-weight: 400;
	font-size: rem(18);
	line-height: 1.5;
	padding: 0;
	margin: 0;
	
	@include media-breakpoint-down(md) {
		font-size: rem(16);
	}
}