@import "./_mixins.scss";
@import "./_variables.scss";
@import "./_colors.scss";

@include font-face("FjallaOne", "../fonts/FjallaOne-Regular", 400, normal);
@include font-face("Poppins", "../fonts/Poppins-Regular", 400, normal);
@include font-face("Lora", "../fonts/Lora-SemiBold", 600, normal);

h1,
.h1 {
   font-family: $secondary_font;
   font-size: clamp(rem(32), vw(72), rem(72));
   font-weight: 600;
   line-height: 1.11;
   text-align: center;
   color: $white;
}
h2,
.h2 {
   font-family: $secondary_font;
   font-size: rem(56);
   font-weight: 600;
   line-height: 1.14;
}
h3,
.h3 {
   font-family: $secondary_font;
   font-weight: 600;
   font-size: rem(32);
   line-height: 1.37;
}
.h3-mob {
   @media (max-width: $tablet) {
      font-family: $secondary_font;
      font-weight: 600;
      font-size: rem(32) !important;
      line-height: 1.38;
      text-align: center;
   }
}
h4,
.h4 {
   font-family: $secondary_font;
   font-weight: 600;
   font-size: rem(24);
   line-height: 1.33;
}
.h4-mob {
   @media (max-width: $tablet) {
      font-family: $secondary_font;
      font-weight: 600;
      font-size: rem(24);
      line-height: 1.33;
      text-align: center;
   }
}
p,
.p1 {
   font-family: $third_font;
   font-size: rem(18);
   font-weight: 400;
   line-height: 1.55;
}
.p1-mob {
   @media (max-width: $tablet) {
      font-family: $third_font;
      font-weight: 400;
      font-size: rem(18);
      line-height: 1.58;
   }
}
.p2 {
   font-family: $third_font;
   font-size: rem(16);
}
.p2-mob {
   @media (max-width: $tablet) {
      font-family: $third_font;
      font-style: normal;
      font-weight: 400;
      font-size: rem(16);
      line-height: 1.5;
   }
}
.p3 {
   font-family: $third_font;

   font-weight: 400;
   font-size: rem(14);
   line-height: 1.42;
}
.p3-mob {
   @media (max-width: $tablet) {
      font-family: $third_font;
      font-weight: 400;
      font-size: rem(14);
      line-height: 1.43;

      text-align: center;

      color: #ffffffb3;
   }
}
.sub-title {
   font-family: $primary_font;
   font-weight: 400;
   font-size: rem(16);
   font-weight: 400;
   letter-spacing: rem(2);
   text-transform: uppercase;

   color: $orange;

   padding-left: rem(20);

   position: relative;
   &::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);

      width: rem(8);
      height: rem(8);

      border-radius: 50%;

      background-color: $orange;
   }
   @media (max-width: $tablet) {
   }
}
.capture {
   font-family: $primary_font;
   font-style: normal;
   font-weight: 400;
   font-size: rem(20);
   line-height: 1.4;

   display: flex;
   align-items: center;
   letter-spacing: 0.02em;
   text-transform: uppercase;

   color: $black_bg;
}
.capture-small {
   font-family: $primary_font;
   font-style: normal;
   font-weight: 400;
   font-size: rem(16);
   line-height: 1.5;
   color: $black_bg;
}
