$transition-all-linear: all 0.3s linear;
$transition-all-easy-in-out: all 0.3s linear;

$primary_font: "FjallaOne", "sans-serif";
$secondary_font: "lora", "sans-serif";
$third_font: "Poppins", "sans-serif";


$tablet : em(1023.98);
$tabletMedium : em(991.98);
$tabletSmall : em(767.98);