$transition-all-linear: all 0.3s linear;
$transition-all-easy-in-out: all 0.3s linear;

$primary_font: "FjallaOne", "sans-serif";
$secondary_font: "lora", "sans-serif";
$third_font: "Poppins", "sans-serif";
