.btn {
	min-width: rem(164);

	padding-inline: rem(24);
	padding-bottom: rem(11);
	padding-top: rem(15);

	font-family: $primary_font;
	font-style: normal;
	font-weight: 400;
	font-size: rem(20);
	letter-spacing: rem(0.02);
	line-height: 1.5;
	text-align: center;
	text-transform: uppercase;

	color: $white;
	background: $orange;

	cursor: pointer;

	border: none;
	transition: $transition-all-linear;

	clip-path: polygon(
		33.333% 16.964%,
		49.722% 0%,
		69.166% 10.512%,
		86.891% 0%,
		100% 8.347%,
		100% 100%,
		0% 100%,
		0% 10.512%,
		9.999% 0.094%,
		33.333% 16.964%
	);

	@media (any-hover: hover) {
		&:hover {
			background-color: $orange_dark;
		}
	}

	@media (max-width: $tablet) {
		font-size: rem(14);
		line-height: 1.25;
		padding-top: rem(20);
		padding-inline: rem(49);
		min-width: rem(180);

		letter-spacing: 0.04em;
	}
}
.btn--white {
	background-color: $white;
	color: $black;

	@media (any-hover: hover) {
		&:hover {
			background-color: $black_bg;

			color: $white;
		}
	}
	@media(max-width:$tablet){
		padding-inline: rem(30);
	}
}
.btn--transparent {
	font-family: $primary_font;
	font-weight: 400;

	font-size: rem(20);
	letter-spacing: 0.02em;
	color: $orange;
	text-decoration: underline;
	text-transform: uppercase;

	@media (any-hover: hover) {
		&:hover {
			text-decoration: none;
			color: $orange_dark;
		}
	}
	@media(max-width:$tablet){
		font-size: rem(18);
	}
}
.btn-burger {
	display: inline-block;
	position: relative;
	z-index: 102;
	width: rem(40);
	height: rem(40);

	clip-path: polygon(0% 0%, 21.25% 7.5%, 48.75% 0%, 72.5% 6.25%, 86.25% 0%, 100% 2.5%, 100% 100%, 0% 100%, 0% 0%);
	background: #ffffff4d;
	border: none;
	@media (min-width: $tablet) {
		display: none;
	}

	span {
		display: inline-block;
		position: absolute;

		width: 100%;
		height: rem(2);
		transition: 0.3s ease-in-out;
		background-color: $white;

		&:nth-of-type(1) {
			top: rem(11);
			width: rem(20);
			inset-inline: rem(10);
		}

		&:nth-of-type(2) {
			top: calc(50% - rem(1.5));
			width: rem(20);
			inset-inline: rem(10);
		}

		&:nth-of-type(3) {
			bottom: rem(11);
			width: rem(14);
			inset-inline-end: rem(10);
		}
	}

	&.menuIsActive {
		span {
			width: 80% !important;
			inset-inline: 0;

			&:nth-of-type(1) {
				transform: rotate(45deg) translateX(rem(5)) translateY(rem(-8));
				transform-origin: left;
			}

			&:nth-of-type(2) {
				transform: translateX(-100%);
				opacity: 0;
			}

			&:nth-of-type(3) {
				transform: rotate(-45deg) translateX(rem(2)) translateY(rem(8));
				transform-origin: left;
			}
		}
	}
}
