.btn {
	width: rem(200);
	padding: rem(11) 0;
	font-family: 'HelveticaNeue', sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: rem(16);
	line-height: 1.1875;
	text-align: center;
	color: $white;
	cursor: pointer;
	background: #6B8FF7;
	border-radius: rem(14);
	border: none;
	
	@include media-breakpoint-down(md) {
		font-size: rem(14);
	}
}

