.btn {
	min-width: rem(164);

	padding-inline: rem(24);
	padding-bottom: rem(11);
	padding-top: rem(15);

	font-family: $primary_font;
	font-style: normal;
	font-weight: 400;
	font-size: rem(20);
	letter-spacing: rem(0.02);
	line-height: 1.5;
	text-align: center;
	text-transform: uppercase;

	color: $white;
	background: $orange;

	cursor: pointer;

	border: none;
	transition: $transition-all-linear;

	clip-path: polygon(
		33.333% 16.964%,
		49.722% 0%,
		69.166% 10.512%,
		86.891% 0%,
		100% 8.347%,
		100% 100%,
		0% 100%,
		0% 10.512%,
		9.999% 0.094%,
		33.333% 16.964%
	);

	@include media-breakpoint-down(md) {
		// font-size: rem(14);
	}

	@media (any-hover: hover) {
		&:hover {
			background-color: $orange_dark;
		}
	}
}
.btn--white {
	background-color: $white;
	color: $black;

	@media (any-hover: hover) {
		&:hover {
			background-color: $black_bg;

			color: $white;
		}
	}
}
.btn--transparent {
	font-family: $primary_font;
	font-weight: 400;

	font-size: rem(20);
	letter-spacing: 0.02em;
	color: $orange;
	text-decoration: underline;
	text-transform: uppercase;

	@media (any-hover: hover) {
		&:hover {
			text-decoration: none;
			color: $orange_dark;
		}
	}
}
