@import "../base/_mixins.scss";
@import "../base/_variables.scss";
@import "../base/_colors.scss";

.site-archive {
   position: relative;
   isolation: isolate;
   padding-bottom: rem(150);
   &__bg {
      img {
         position: absolute;
         z-index: -1;
         top: rem(112);
         left: 0;
         right: 0;
         width: 100%;
         height: rem(536);
      }
   }
   &__inner {
      padding-top: rem(150);
   }
   &__header {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: rem(24);

      width: 100%;
      max-width: rem(651);
      margin-bottom: rem(100);

      color: $black_bg;

      h1 {
         color: $black_bg;
      }
   }

   &__cards {
   }
}

.site-archive {
   
   background-color: #e6e8e6;
   
   
   .site-archive__cards--grid {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(rem(410), 1fr));
      gap: rem(24);
   }
   .site-archive__cards--flex {
      display: flex;
      flex-wrap: wrap;
      gap: rem(24);
      .card-support {
         flex: 0 1 calc(25% - rem(18));
      }
   }
   .card-location{
      background-color: $white;
   }
}
.card-support {
   display: flex;
   flex-direction: column;
   align-items: center;
   text-align: center;

   padding-block: rem(48);
   padding-inline: rem(24);

   background-color: $white;

   &__img {
      background-color: $green;
      display: flex;
      align-items: center;
      justify-content: center;

      width: rem(64);
      height: rem(64);
      border-radius: 50%;

      margin-bottom: rem(68);
      img {
         width: rem(26);
      }
   }
   p {
      @extend .p2;

      color: $black_bg;
      margin-bottom: rem(16);
   }
   a {
      font-size: rem(20);
      letter-spacing: rem(2);
      line-height: 1.4;
      color: $orange;

      margin-top: auto;

      @media (any-hover: hover) {
         &:hover {
            color: $orange_dark;
            text-decoration: underline;
         }
      }
   }
}
