.site-contact {
   &__inner {
      width: 100%;
      max-width: rem(846);
      margin-inline: auto;
   }
   &__form {
      &.form {
         form {
            .gform_fields {
               display: flex;
               flex-wrap: wrap;
               gap: rem(24);
               @media (max-width: $tablet) {
                  display: grid;
                  grid-template-columns: 1fr;
                  gap: rem(16);
               }
            }
            .gfield {
               flex: 1 1 calc(50% - rem(12));

               input,
               textarea {
                  color: $gray;
                  border-color: $white !important;
                  background-color: $white;
                  &::placeholder {
                     color: inherit;
                  }
                  &:not([type="submit"]) {
                     border-color: $gray_dark;
                  }
               }
            }
            .gform_footer {
               input[type="submit"] {
                  clip-path: polygon(
                     100% 0%,
                     92.755% 22.321%,
                     72.251% 0%,
                     58.568% 14.437%,
                     31.449% 0%,
                     17.357% 22.321%,
                     9.999% 0%,
                     0% 10.428%,
                     0% 100%,
                     100% 100%,
                     100% 0%
                  );
               }
            }
         }
      }
   }
}

.contact-map {
   overflow: hidden;
   background-color: $black_bg;
   &__inner {
      display: flex;
      @media (max-width: $tablet) {
         display: grid;
         grid-template-columns: 1fr;
      }
   }

   &__info {
      @media (min-width: $tablet) {
         flex: 0 1 50%;
         padding-block: rem(270);
         padding-right: rem(122);
      }
      @media (max-width: $tablet) {
         padding-block: rem(145);
      }
   }

   &__info-inner {
      display: flex;
      flex-direction: column;
      gap: rem(24);
      @media (min-width: $tablet) {
         max-width: rem(310);

         width: 100%;
      }
      align-items: flex-start;
      h2 {
         @extend .h3-mob;
      }
      p {
         @extend .p2-mob;
      }
      a {
         @extend .p2-mob;
      }
   }

   &__map {
      position: relative;
      @media (min-width: $tablet) {
         flex: 1;
         margin-right: calc(-50vw + 50%);
      }
      @media (max-width: $tablet) {
         height: vwm(450);
         margin-inline: rem(-20);
      }

      img,
      iframe {
         position: absolute;
         inset: 0;
         width: 100%;
         height: 100%;
         object-fit: cover;
      }
   }
}
