.cards-dark {
   background-color: $gray_bg;
   padding-bottom: clamp(rem(44), vw(150), rem(150));
   &__inner {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: rem(24);
      @media (max-width: $tablet) {
         grid-template-columns: repeat(2, 1fr);
      }
      @media (max-width: $tabletSmall) {
         grid-template-columns: 1fr;
         gap: rem(16);
      }
   }

   &__card {
      background-color: $back_bg_2;

      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      height: auto;
      gap: rem(24);

      padding-block: rem(32);
      padding-inline: rem(24);

      p {
         @extend .capture;
         color: $white;
      }
      @media (max-width: $tablet) {
         gap: rem(16);
         p {
            font-size: rem(18);
         }
      }
   }
}

.list-info {
   background-color: $green;
   padding-top: clamp(rem(44), vw(150), rem(150));
   padding-bottom: clamp(rem(100), vw(240), rem(240));

   clip-path: polygon(0% 0%, 100% 0%, 100% 91.228%, 82.118% 100%, 42.014% 91.228%, 28.542% 95.712%, 0% 91.228%, 0% 0%);

   @media (max-width: $tablet) {
      clip-path: polygon(0% 0%, 100% 0%, 100% 97.78%, 80.667% 100%, 41.867% 96.604%, 25.067% 98.985%, 0% 97.78%, 0% 0%);
   }
   &__header {
      width: 100%;
      max-width: rem(883);
      margin-bottom: clamp(rem(32), vw(100), rem(100));

      h2 {
         color: $white;
         @extend .h4-mob;
      }
   }

   &__list {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      row-gap: rem(48);
      column-gap: rem(25);
      @media (max-width: $tablet) {
         grid-template-columns: repeat(2, 1fr);
      }
      @media (max-width: $tabletSmall) {
         grid-template-columns: 1fr;
         gap: rem(32);
         justify-items: center;
      }
   }

   &__item {
      display: flex;
      flex-direction: column;
      height: auto;
      gap: rem(24);

      @media (max-width: $tabletSmall) {
         align-items: center;
         text-align: center;
         width: 100%;
         max-width: 90%;
      }
   }

   &__item-main {
      display: flex;
      flex-direction: column;
      gap: rem(16);

      h3 {
         @extend .capture;
         color: $white;
      }
      p {
         @extend .p2;
         @extend .p2-mob;
         color: $white_2;
      }

      @media (min-width: $tabletSmall) {
         width: 100%;
         max-width: rem(328);
      }
      @media (max-width: $tablet) {
         align-self: center;
         align-items: center;
         text-align: center;
         gap: rem(16);
         h3 {
            font-size: rem(18);
         }
      }
   }
}

.cards-grid-content {
   padding-bottom: clamp(rem(64),vw(198),rem(198));
   padding-top: rem(60);
   &__inner {
   }

   &__header {
      width: 100%;
      max-width: rem(883);
      margin-bottom: clamp(rem(32), vw(100), rem(100));
      h2 {
         color: $black_bg;
         @extend .h4-mob;
      }
   }

   &__grid {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: rem(24);
      @media(max-width:$tabletSmall){
         grid-template-columns: 1fr;
      }
   }
   .cards-grid__card {
      background: rgba(205, 210, 205, 0.3);
   }
}
