@import "../base/_mixins.scss";
@import "../base/_variables.scss";
@import "../base/_colors.scss";

.hero {
   position: relative;
   isolation: isolate;
   padding-top: 0 !important;

   &__bg {
      position: absolute;
      z-index: -1;
      isolation: isolate;
      inset: 0;
      width: 100%;
      height: 100%;

      &::before {
         content: "";
         position: absolute;
         inset: 0;
         width: 100%;
         height: 100%;
         background: linear-gradient(360deg, #1e1c23 0%, rgba(30, 28, 35, 0) 100%);
      }
      img,
      video,
      iframe {
         position: absolute;
         z-index: -2;
         inset: 0;
         width: 100%;
         height: 100%;
         object-fit: cover;
      }
   }

   &__inner {
      min-height: 100%;
      display: flex;
      justify-content: flex-end;

      min-height: 100dvh;
      height: 100%;
   }
   &__content {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: center;
      text-align: center;
      gap: rem(24);

      color: $white;

      width: 100%;
      max-width: rem(730);

      margin-inline: auto;
      padding-bottom: rem(64);
      padding-top: rem(140);

      @media (max-width: $tablet) {
         padding-bottom: rem(0);
         padding-top: rem(100);
      }
      h1 {
         @media (max-width: $tablet) {
            line-height: 1.38;
            text-align: center;
         }
      }

      p {
         font-family: $third_font;
         font-size: rem(18);
         line-height: 1.55;
         @media (max-width: $tablet) {
            font-size: rem(14);
            font-weight: 400;
            line-height: 1.43;
         }
      }
   }
}

.section-content {
   background-color: $black_bg;
   padding-top: clamp(rem(64), vw(150), rem(150));
   padding-bottom: clamp(rem(64), vw(150), rem(150));
   &__inner {
      color: $white;
      overflow: hidden;
   }

   &__top {
      width: 100%;
      max-width: rem(950);
      margin-bottom: rem(36);

      @media (max-width: $tablet) {
         margin-bottom: rem(24);
         h2 {
            font-weight: 600;
            font-size: rem(24);
            line-height: 1.33;
         }
      }
   }

   &__bottom {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      gap: rem(60);

      .sub-title {
         &::after {
            content: "";
            position: absolute;
            top: 50%;
            left: calc(100% + rem(44));
            width: rem(302);
            height: rem(1);
            background-color: $white;
            opacity: 0.3;
         }
      }
      @media (max-width: $tablet) {
         flex-direction: column;
         gap: rem(24);
         .sub-title {
            &::after {
               width: 100vw;
               left: calc(100% + rem(8));
            }
         }
      }
   }

   &__bottom-text {
      color: $gray_2;
      @media (min-width: $tablet) {
         flex: 0 1 rem(628);
      }
      @media (max-width: $tablet) {
         p {
            font-size: rem(14);
         }
      }
   }
}

.cards-content {
   background-color: $black_bg;
   padding-bottom: clamp(rem(112), vw(150), rem(150));

   overflow: hidden;
   &__header {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      gap: rem(24);
      margin-bottom: clamp(rem(24), vw(60), rem(60));
      @media (max-width: $tablet) {
         gap: rem(16);
      }

      h2 {
         @extend .h3-mob;
      }
      p {
         color: $white_2;
         @extend .p3-mob;
      }
   }

   &__cards {
      .swiper {
         overflow: visible;
      }
      .swiper-wrapper {
         @media (min-width: $tablet) {
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(rem(302), 1fr));
            column-gap: rem(22);
            row-gap: rem(24);
         }
      }

      .swiper-slide {
         @media (max-width: $tablet) {
            display: flex;
            flex-direction: column;
            height: auto;
         }
      }
   }

   &__card {
      background-color: $back_bg_2;
      padding-block: rem(32);
      padding-inline: rem(24);

      display: flex;
      flex-direction: column;
      height: 100%;
      gap: rem(16);
      min-height: rem(378);
      @media (max-width: $tablet) {
         padding-block: rem(24);
         padding-inline: rem(20);
         gap: rem(16);
         min-height: initial;
      }
   }

   &__card-header {
      display: grid;
      gap: rem(24);

      span {
         display: flex;
         align-items: center;
         justify-content: center;
         background-color: $orange;
         border-radius: 50%;
         width: rem(48);
         height: rem(48);
      }
      p {
         font-family: $primary_font;
         font-size: rem(20);
         letter-spacing: 0.02em;
         line-height: 1.4;
      }
      @media (max-width: $tablet) {
         gap: rem(20);
         p {
            font-size: rem(18);
            line-height: 1.1;
         }
      }
   }

   &__card-text {
      p {
         color: $white_2;
         text-align: left;
         @extend .p2;
         @extend .p3-mob;
      }
      @media (max-width: $tablet) {
         margin-bottom: rem(8);
      }
   }

   &__card-link {
      margin-top: auto;
   }
}

.content-bg {
   position: relative;
   overflow: hidden;
   &__bg,
   &__bg-decor {
      position: absolute;

      img {
         position: absolute;
         inset: 0;
         width: 100%;
         height: 100%;
         object-fit: cover;
      }
   }
   &__bg {
      position: absolute;
      z-index: -2;
      inset: 0;
      width: 100%;
      height: 100%;
   }
   &__bg-decor {
      position: absolute;
      bottom: 0;
      inset-inline: 0;
      height: 67%;
      @media (max-width: $tablet) {
         height: vwm(150);
         bottom: initial;
         top: vwm(133);
      }
   }

   &__main {
      display: flex;
      justify-content: flex-end;
      padding-top: rem(190);
      @media (max-width: $tablet) {
         margin-inline: rem(-20);
         width: calc(100% + rem(40));
         padding-top: vwm(278);
      }
   }

   &__content {
      flex: 0 1 rem(520);
      min-height: rem(610);
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: rem(24);

      color: $white;
      background-color: $orange;

      padding-top: rem(120);
      padding-bottom: rem(64);
      padding-inline: rem(48);

      clip-path: polygon(
         0% 4.918%,
         20.135% 0%,
         61.175% 7.787%,
         86.031% 3.115%,
         100% 4.918%,
         100% 100%,
         0% 100%,
         0% 4.918%
      );

      .sub-title {
         color: $white;
      }
      h2 {
         @extend .h4-mob;
      }
      p {
         @extend .p3-mob;
      }
      @media (max-width: $tablet) {
         flex: 1 1 100%;
         min-height: rem(320);
         padding-top: rem(75);
         padding-bottom: rem(64);
         align-items: center;
         gap: rem(16);

         .sub-title {
            font-size: rem(14);
         }
      }
   }
   &__btn {
      margin-top: auto;
      @media (max-width: $tablet) {
         margin-top: rem(16);
      }
   }
}

.cards-slider {
   position: relative;
   background-color: $green_light_2;

   padding-top: clamp(rem(64), vw(150), rem(150));
   padding-bottom: clamp(rem(32), vw(50), rem(50));

   @media (max-width: $tablet) {
      background-color: $white;
   }
   &__header {
      display: flex;
      justify-content: space-between;
      gap: rem(60);
      @media (max-width: $tablet) {
         margin-bottom: rem(32);
      }
   }
   &__header-inner {
      display: grid;
      gap: rem(24);
      h2 {
         color: $back_bg_2;
         @extend .h4-mob;
      }
      @media (max-width: $tablet) {
         gap: rem(16);
         flex: 1 1 100%;
         justify-content: start;
      }
   }

   &__slide {
      display: flex;
      flex-direction: column;
      height: auto;
   }
   &__slider-actions {
      align-self: flex-end;
      padding-bottom: rem(12);

      display: flex;
      align-items: center;
      gap: rem(16);
      button {
         position: static;
         border: none;
         margin: 0;
         opacity: 1;
         height: rem(48);
         width: rem(48);

         background-color: $green;

         transition: $transition-all-linear;
         &::after {
            display: none;
         }

         clip-path: polygon(
            92.262% 0%,
            0.184% 0%,
            0.184% 100%,
            92.262% 100%,
            96.905% 78.906%,
            85.298% 51.563%,
            100% 21.875%,
            92.262% 0%
         );

         &:nth-child(2) {
            transform: rotate(180deg);
         }

         img {
            width: rem(8);
            margin-right: rem(5);
         }
         @media (any-hover: hover) {
            &:hover {
               background-color: $orange;
            }
         }
      }

      @media (max-width: $tablet) {
         justify-content: center;
      }
   }
}

.card {
   display: flex;
   flex-direction: column;
   height: 100%;

   gap: rem(24);
   @media (max-width: $tablet) {
      padding-bottom: rem(24);
   }
   &__img {
      clip-path: polygon(
         0% 100%,
         100% 100%,
         100% 6.166%,
         81.144% 0%,
         55.84% 11.662%,
         19.708% 3.217%,
         0% 6.166%,
         0% 100%
      );

      position: relative;
      height: rem(373);
      img {
         position: absolute;
         inset: 0;
         width: 100%;
         height: 100%;
         object-fit: cover;
      }
      @media (max-width: $tablet) {
         height: vwm(305);
      }
   }

   &__main {
      display: flex;
      flex-direction: column;
      gap: rem(16);
      flex: 1 1 auto;
   }

   &__info {
      display: flex;
      align-items: center;
      gap: rem(24);

      time {
         @extend .p2;
         color: $black_bg;
         opacity: 0.8;

         @extend .p3-mob;
      }
   }

   &__cats {
      display: flex;
      flex-wrap: wrap;
      gap: rem(8);
      a {
         display: flex;
         align-items: center;
         padding-block: rem(4);
         padding-inline: rem(12);

         font-family: $third_font;
         font-size: rem(14);
         font-weight: 400;
         line-height: 1.42;

         color: $green;
         background-color: $green_light;

         transition: $transition-all-linear;

         &.active {
            background-color: $green;
            color: $white;
         }

         @media (any-hover: hover) {
            &:hover {
               background-color: $green;
               color: $white;
            }
         }
         @media (max-width: $tablet) {
            a {
               min-height: rem(26);
               font-size: rem(12);
            }
         }
      }
   }
   &__content {
      flex: 1 1 auto;
      color: $black_bg;
      display: grid;
      gap: rem(16);

      p {
         @extend h4;
         color: $black_4;
      }
      span {
         margin-top: auto;
         @extend .p2;
         opacity: 0.8;
         @extend .p2-mob;
      }

      @media (max-width: $tablet) {
         p {
            font-weight: 600;
            font-size: rem(20);
            line-height: 1.3;
         }
      }
   }
   &__btn {
      margin-top: auto;
   }
}
.subscribe {
   background-color: $green_light_2;

   padding-top: clamp(rem(32), vw(50), rem(50));
   padding-bottom: clamp(rem(64), vw(150), rem(150));

   @media (max-width: $tablet) {
      background-color: $white;
   }
   &__inner {
      display: flex;
      @media (max-width: $tablet) {
         display: grid;
         grid-template-columns: 1fr;
      }
   }
   &__form-wrap {
      background-color: $green;
      padding-inline: clamp(rem(24), vw(64), rem(64));
      padding-top: clamp(rem(32), vw(80), rem(80));
      padding-bottom: clamp(rem(32), vw(100), rem(100));
      flex: 0 0 rem(520);
      @media (max-width: $tablet) {
         order: 1;
      }
   }
   &__form-header {
      display: grid;
      gap: rem(16);
      margin-bottom: rem(32);
      h3 {
         @extend .h4-mob;
      }
      p {
         @extend .p3-mob;
         color: $gray_2;
      }
      @media (max-width: $tablet) {
         gap: rem(8);
         margin-bottom: rem(24);
      }
   }
   &__form {
      form {
         .gform_fields {
            display: flex;
            flex-direction: column;
            gap: rem(16);
         }
      }
   }
   &__img {
      flex: 1 1 auto;
      position: relative;
      img {
         position: absolute;
         inset: 0;
         height: 100%;
         width: 100%;
         object-fit: cover;
      }
      @media (max-width: $tablet) {
         height: vwm(263);
      }
   }
}
.subscribe--gray {
   background-color: $gray_bg_2;
}
.subscribe--white {
   background-color: $white;
}
.form {
   form {
      .gfield {
         label {
            display: none;
         }
         input,
         textarea {
            &:not([type="submit"]) {
               background-color: transparent;
               min-height: rem(56);
               outline: none;
               border: rem(1) solid $gray;

               padding-inline: rem(20);
               padding-block: rem(16);

               font-family: $third_font;
               box-sizing: border-box;
               @extend .p2;
               @extend .p3-mob;
               color: $gray_light;
               text-align: left;

               &::placeholder {
                  @extend .p2;
                  @extend .p3-mob;

                  text-align: left;

                  color: inherit;
               }

               &:focus,
               &:focus:hover,
               &:autofill,
               &:-webkit-autofill {
                  border-color: $orange;
               }

               @media (max-width: $tablet) {
                  padding-block: rem(11);
                  padding-inline: rem(20);
                  min-height: rem(44) !important;
                  font-size: rem(14);
                  line-height: 1 !important;

                  &::placeholder {
                     font-size: rem(14);
                     line-height: 1 !important;
                  }
               }
            }
         }
         textarea {
            height: rem(160);
            resize: none;
            @media (max-width: $tablet) {
               height: rem(100);
            }
         }
         label {
            @extend .p2;
            color: $gray_light !important;
         }
      }
      .gform_footer {
         margin-top: rem(16);

         input[type="submit"] {
            clip-path: polygon(
               100% 8.261%,
               86.891% 14.371%,
               72.251% 0%,
               58.568% 14.437%,
               31.458% 0%,
               17.263% 14.437%,
               9.999% 0%,
               0% 10.428%,
               0% 100%,
               100% 100%,
               100% 8.261%
            );

            cursor: pointer;
            background-color: $orange !important;
            color: $white;

            padding-top: rem(15);
            padding-bottom: rem(11);
            padding-inline: rem(80);
            outline: none;
            border: none;

            font-size: rem(30);
            line-height: 1;
            font-weight: 400;
            text-align: center;

            transition: $transition-all-linear;

            @media (max-width: $tablet) {
               font-size: rem(16);
               padding-top: rem(16);
               padding-bottom: rem(12);
               padding-inline: rem(20);
               min-height: rem(48);
            }
         }
      }
   }
}
